body{
    background-color: rgb(85, 85, 192);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.not-sepeti-header{
    margin-top: 45px;
    color: white;
    font-size: 18px;
}

.not-sepeti{
    text-align: center;
}

.not-sepeti-input{
    margin-bottom: 65px;
}

.not-sepeti-input input{
    width: 300px;
    height: 45px;
    margin-top: 65px;
}

#not-list{
    vertical-align: middle;
}

input{
    width: 650px;
    height: 50px;;
}

button{
    cursor: pointer;
    border: 0px;
}

#btnAddNewNote{
    position: relative;
    right: 45px;
    text-align: center;
    background-color: chocolate;
    color: white;
    vertical-align: middle;
}

#completeButton{
    height: 56px;
    width: 48px;
    position: relative;
    background-color: chocolate;
    right: 6.5px;
    top: 2.5px;
}

#deleteButton{
    height: 56px;
    width: 48px;
    position: relative;
    background-color: darkred;
    right: 12px;
    top: 1px;
}

li{
    list-style-type: none;
}



