@model List<Country>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ülke</th>
            <th>Başkent</th>
            <th>Bayrak</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td>@country.Name.Official</td>
                <td>
                    @foreach (var capital in country.)
                    {
                       capital.
                    }</td>
            </tr>
        }
    </tbody>
</table>