@model List<User>
@{
    ViewData["Title"] = "Kullanıcılar";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Profil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.first_name</td>
                <td>@user.last_name</td>
                <td>
                    <img src="@user.avatar">
                </td>
            </tr>
        }
    </tbody>
</table>
